@using cs_belt.Models
@model NewEvent

<div class="container">
    <div class="page-header">    
        <h1>Dojo Activity Center</h1>
        <h3><a href="/dashboard" style="margin-left:10rem">Home</a></h3>
        <h3><a href="/logout" style="margin-left:2rem;width:10rem">Logout</a></h3>
    </div>
    <hr><br>
    <form asp-action="add_event" method="post">
        <div class="form-section">
            <div class="flex-container">
                <label asp-for="newActivity.Title" class="">Title</label>
                <input type="text" asp-for="newActivity.Title" /> 
            </div>
            <span asp-validation-for="newActivity.Title" style="color:red"></span><br>
            <div class="flex-container">
                <label asp-for="newActivity.EventDateTime" class="">Date</label>
                <input type="date" asp-for="newActivity.EventDateTime" /> 
            </div>
            <span asp-validation-for="newActivity.EventDateTime" style="color:red"></span><br>
        </div>
        <div class="form-section">
            <div class="flex-container">
                <label asp-for="time" class="">Time</label>
                <input type="time" asp-for="time" /> 
            </div>
            <span asp-validation-for="time" style="color:red"></span><br>
            <div class="flex-container">
                <label asp-for="newActivity.Duration" class="">Duration</label>
                <input type="number" asp-for="newActivity.Duration" style="width:80px" />
                <select asp-for="newActivity.DurIncrement">
                    <option value="Hours">Hours</option>
                    <option value="Minutes">Minutes</option>
                    <option value="Days">Days</option>
                </select>
            </div>
            <span asp-validation-for="newActivity.Duration" style="color:red"></span>
            <span asp-validation-for="newActivity.DurIncrement" style="color:red"></span><br>
        </div>
        <div class="flex-container full-width">
            <label asp-for="newActivity.Details" class="">Description</label>
            <input type="text" asp-for="newActivity.Details" style="width:60%;height:10rem" /> 
        </div>
        <span asp-validation-for="newActivity.Details" style="color:red"></span><br>
        <div style="width:90%;text-align:right">
            <button type="submit" class="btn btn-primary">Create Activity</button>
        </div>
    </form>
</div>
